# MongoDB
MONGO_USER=admin
MONGO_PASS=secret
MONGO_URI=mongodb://admin:secret@mongo:27017/cinema?authSource=admin

# Redis
REDIS_ADDR=redis:6379

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=secret
RABBITMQ_URL=amqp://admin:secret@rabbitmq:5672/

# Firebase
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CREDENTIALS_JSON={"type":"service_account",...}

# App
GIN_MODE=release
PORT=8080
JWT_SECRET=change-this-secret
